@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.color-primary {
  color: #14b1c6 !important;
}

.mat-primary {
  color: #fff !important;
  background-color: #14b1c6 !important;
}

.mat-success {
  color: #fff !important;
  background-color: #4caf50 !important;
}

.mat-edit {
  color: #4a4a4a !important;
  background-color: #ffc107 !important;
}

.mat-danger {
  color: #fff !important;
  background-color: #f44336 !important;
}
