<div
  *ngIf="city && currentWeather"
  class="flex items-center flex-col md:flex-row gap-3 md:gap-5"
>
  <img src="{{ city.imageUrl }}" class="md:w-2/5" alt="" />
  <div class="md:w-3/5">
    <div class="font-bold text-3xl">{{ cityName }}</div>
    <div class="flex items-center">
      <div>
        Weather now:
        <span class="text-lg font-bold">
          {{ currentWeather.min | displayTemperature }}</span
        >
      </div>
      <img
        class="w-10"
        src="https://openweathermap.org/img/wn/{{ currentWeather.icon }}@2x.png"
        alt=""
      />
    </div>
    <div class="mt-4">{{ city.description }}</div>
  </div>
</div>
<div class="flex flex-col md:flex-row justify-center gap-2 mt-4 md:mt-8 mb-4">
  <app-weather-card
    (click)="getWeatherDetails(forecast)"
    *ngFor="let forecast of forecasts"
    [forecast]="forecast"
  />
</div>
<div *ngIf="forecasts.length > 0" class="text-center italic">
  Click in one of the days to see details.
</div>
<app-weather-details *ngIf="selectedWeather" [forecast]="selectedWeather" />
